/* general styles */
body {
    background: #05305b!important;
    padding-bottom: 80px;
    text-align: center;
    font-weight: bold;
    color: red;
    margin: 0;
}

img {
    display:block;
    width: 100px;
    height: auto;
}

p {
    margin: 0;
    padding: 1em, 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em, 0;
}


header, nav, aside, article, section, footer {
    border: 1px solid black;
    padding: 25px;
    background-color: lightgray;
} 

.container {
    position: relative;
    display: grid;
    max-width: 990px!important;
}

/* border glowing effect */
.container:before {
    content: '';
    position: absolute;
    left: 2px;
    right: 2px;
    background: #fff;
    z-index: -1;
}

.container:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(60px);
}

/* ================== */


/* navigation area */
.nav-wrapper {
    background-color: #0f0f0f;
}

/* showcase images area */

/* moto-social area */
.moto-social {
    background-color: #131415;;
}

/* sidebar area */
.sidenav-wrapper {
    background-image: linear-gradient(#f2f2f2, #fff);
}

/* blogs area */
.article-wrapper {
    background-color: #fff;
}

/* pagination area */
.pagination- {
    background-color: #fff;
}

/* sponsors area */
.sponsors {
    background-color: #fff;
}

/* footer */
.footer-wrapper {
    background-color: #131415;
}

/* responsiveness */

@media (min-width: 768px){
    .moto-social{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(120px, auto);
        grid-gap: 2em;
        padding: 1em;
    }
}

@media (min-width: 1200px){

}