* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration-line: none;
  }

/* general styles */
body {
    background: #05305b!important;
    padding-bottom: 80px;
    text-align: center;
    font-weight: bold;
    color:#fff;
    margin: 0;
}

img {
    display:block;
    width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 1em, 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em, 0;
}

/*
header, nav, aside, article, section, footer {
    border: 1px solid black;
    padding: 25px;
    background-color: lightgray;
} */

.container {
    position: relative;
    display: grid;
    max-width: 990px!important;
}

/* border glowing effect */
.container:before {
    content: '';
    position: absolute;
    left: 2px;
    right: 2px;
    background: #fff;
    z-index: -1;
}

.container:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(60px);
}

/* ================== */


/* navigation area */
#nav-wrapper {
    background-color: #0f0f0f;
}

#nav-wrapper a, li{
    text-decoration: none;
    display: inline;
    margin: 1px;
}

/* showcase images area */

/* moto-social area */
#moto-social {
    background-color: #131415;
}

/* sidebar area */
#sidenav-wrapper {
    background-image: linear-gradient(#EAEAEA, #fff);
}

/* blogs area */
#article-wrapper {
    background-color: #fff;
}

/* pagination area */
#pagination- {
    background-color: #fff;
}

/* sponsors area */
#sponsors {
    background-color: #fff;
}

/* footer */
#footer-wrapper {
    background-color: #131415;
}

/* responsiveness */

@media (min-width: 375px){
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(55px, auto);
        
    }

    .grid-social {
        font-size: 75%;
    }

    .grid-sponsors {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 2em;
        padding-right: 2em;
    }

    .grid-footer .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-gap:10px;
        position: relative;
        top: 15px;
    }

}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    #moto-social {
        display: grid;
        grid-template-columns: 715px 245px;
        grid-auto-rows: minmax(110px, auto);
    }

    .grid-social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(110px, auto);
    }

    .grid-sponsors {
        grid-template-columns: repeat(6, 1fr);
    }
   
    .grid-footer {
        display: grid;
        grid-template-columns: 320px 345px;
        grid-template-columns: repeat(3, 1fr);
        
    }
    
}

@media (min-width: 1200px){
    #main-content{
        display: grid;
        grid-template-columns: 715px 260px;
        grid-template-rows: auto;
    }

    .grid-sponsors {
        grid-template-columns: repeat(6, 1fr);
    }
    
    
    
}